<div class="pt-1" style="border-top: 1px solid black;">
<div class="container">
<footer class="pt-5">
  <div class="row justify-content-center">
    <div class="col-6 col-md-2 mb-3">
      <h5>Utilitati</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acasa</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Categorii</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Revista Bidro</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Despre noi</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Detalii</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cum functioneaza</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Conditiile utilizarii</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politica de confidentialitate</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Impressum</a></li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3 d-flex flex-column">
      <button class="btn btn-primary w-50 my-3">Button 1</button>
      <button class="btn btn-secondary w-50 my-3">Button 2</button>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>© 2024 Thinkr Science. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter fs-3"></i>
      </a></li>
      <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram fs-3"></i></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook fs-3"></i></a></li>
    </ul>
  </div>
</footer>
</div>
</div>