<home-carousel></home-carousel>
<section class="showcase">
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../assets/images/categorii/bg-showcase-1.jpg')"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Constructii</h2>
              <p class="lead mb-0">
                Bidro iti ofera o gama larga de produse pentru constructii, de la materiale de constructii, la scule si echipamente profesionale.
              </p>
            <div class="row my-5 w-100 justify-content-around">
              <div class="btn-group dropend col-6 col-md-3 col-lg-4 my-2" *ngFor="let subcategory of subcategories1; let i = index">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{subcategory.name}}
                </button>
                <ul class="dropdown-menu">
                    <li >
                        <a class="dropdown-item" href="#">cox</a>
                    </li>
                </ul>
              </div>    
            </div>
          </div>
      </div>
      <div class="row g-0">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../../assets/images/categorii/bg-showcase-2.jpg')"></div>
          <div class="col-lg-6 my-auto showcase-text">
              <h2>Updated For Bootstrap 5</h2>
              <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 5!</p>
              <div class="row my-5 w-100 justify-content-around">
                <div class="btn-group dropstart col-6 col-md-3 col-lg-4 my-2" *ngFor="let subcategory of subcategories2; let i = index">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      {{subcategory.name}}
                  </button>
                  <ul class="dropdown-menu">
                      <li >
                          <a class="dropdown-item" href="#">cox</a>
                      </li>
                  </ul>
                </div>    
              </div>
          </div>
      </div>
      <div class="row g-0">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../assets/images/categorii/bg-showcase-3.jpg')"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Easy to Use &amp; Customize</h2>
              <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
              <div class="btn-group dropdown col-6 col-md-3 col-lg-4 my-2" *ngFor="let subcategory of subcategories3; let i = index">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{subcategory.name}}
                </button>
                <ul class="dropdown-menu">
                    <li >
                        <a class="dropdown-item" href="#">cox</a>
                    </li>
                </ul>
              </div>  
          </div>
      </div>
      <div class="row my-5 w-100 justify-content-around">  
      </div>
  </div>
  <section class="call-to-action text-white text-center my-5 py-5" id="signup">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4 black">Ready to get started? Sign up now!</h2>
                <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" data-sb-can-submit="no">
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                        </div>
                        <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <p>To activate this form, sign up at</p>
                            <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
</section>
