.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.black{
    color: black;
}

.btn-group{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

@media (max-width: 550px) {
    .showcase .showcase-text {
        padding: 0.9rem;
    }

    .my-5 {
        margin-top: 1.7rem!important;
        margin-bottom: 1.7rem!important;
    }

    .btn{
        font-size: 0.95rem;
        padding: 0.2rem 0.5rem;
    }

    .btn-group{
        padding-left: 0.2rem!important;
        padding-right: 0.2rem!important;
    }

    .row{
        justify-content: space-between!important;
        margin: auto;
    }
}
