<div class="first">
  <div class="maxwidth">
    <div class="d-flex flex-column cox">
      <h1 class="mt-5">Suntem hotărâți să facilităm lucrările de construire și renovare de imobile</h1>
      <span class="white-bar mt-3"></span>
      <div class="white text-center">
        <p>Am înființat Bidro cu scopul principal de a face ca piața construcțiilor din România să fie mai transparentă și de a-i conecta pe executanții de calitate cu clienți de calitate</p>
      </div>
    </div>
  </div>
</div>

<div class="reviews container mt-5 pt-2">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card text-center">
        <img src="../../assets/images/abouts-us/asfaltare-ronera.jpeg" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Asfaltare pentru firma Ronera -</h5>
          <h5 class="card-title">Experienta utilizatorilor Bidro</h5>
          <i class="bi bi-quote h1"></i>
          <p class="card-text fst-italic w-75 mx-auto">
            "Am apelat la Bidro pentru a găsi un executant pentru asfaltarea curții firmei noastre. Am fost plăcut surprinși de calitatea serviciilor oferite de Bidro și de executantul pe care l-am ales. Recomandăm Bidro cu încredere!"
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card text-center">
        <img src="../../assets/images/abouts-us/asfaltare-ronera.jpeg" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Asfaltare pentru firma Ronera -</h5>
          <h5 class="card-title">Experienta utilizatorilor Bidro</h5>
          <i class="bi bi-quote h1"></i>
          <p class="card-text fst-italic w-75 mx-auto">
            "Am apelat la Bidro pentru a găsi un executant pentru asfaltarea curții firmei noastre. Am fost plăcut surprinși de calitatea serviciilor oferite de Bidro și de executantul pe care l-am ales. Recomandăm Bidro cu încredere!"
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card text-center">
        <img src="../../assets/images/abouts-us/asfaltare-ronera.jpeg" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Asfaltare pentru firma Ronera -</h5>
          <h5 class="card-title">Experienta utilizatorilor Bidro</h5>
          <i class="bi bi-quote h1"></i>
          <p class="card-text fst-italic w-75 mx-auto">
            "Am apelat la Bidro pentru a găsi un executant pentru asfaltarea curții firmei noastre. Am fost plăcut surprinși de calitatea serviciilor oferite de Bidro și de executantul pe care l-am ales. Recomandăm Bidro cu încredere!"
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<home-about-us></home-about-us>