input, select, textarea{
    width: 60%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    border-radius: 20px;
}

select{
    padding:13px;
}

label{
    font-size: 22px;
}

button{
    display: block;
    color: white;
    font-size: 1.5rem !important;
    font-weight: 500;
    margin-left: 0px;
    min-width: auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #157a72;
    min-height: 40px !important;
    min-width: auto !important;
    border-radius: 40px;
    width: 60%;
}

.contact-form > input{
    font-size: 18px;
    border-radius: 5px;
}

.terms{
    color: #157a72;
}

.checkbox{
    width: 20px;
    margin-right: 0.2rem;
}