<div class="container mt-2 pt-5 pb-5 px-4">
<h2 class="mb-4 pb-4 text-center">Ce pasi trebuie urmati?</h2>
<div class="row d-flex jsa">
  <div class="col-md-4 col-sm-12  mx-33">
    <div class="card h-100" >
      <div class="card-body">
        <h4 class="card-title text-center ">Alegerea categoriei</h4>
        <p class="card-text fs-5 text-center px-3">Selectati categoria de produse dorita.
          In functie de categoria aleasa putem intelege cel mai bine
          ce fel de serviciu doriti prin intrebarile noastre.</p>
      </div>
      
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 mx-33">
    <div class="card h-100" >
      <div class="card-body">
        <h4 class="card-title text-center 
        "> Completarea formularului</h4>
        <p class="card-text fs-5 text-center px-3"> 
          Completati formularul cu datele necesare pentru a putea
          sa va contactam si sa va oferim cele mai bune solutii pentru
          nevoile dumneavoastra.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12 mx-33">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title text-center  fs-7
        "> In 24 de ore primiti oferta</h4>
        <p class="card-text fs-5 text-center px-3" >
          In cel mai scurt timp posibil vom analiza cererea dumneavoastra,
          vom contacta furnizorii si vom selectiona cele mai bune oferte.
        </p>
      </div>
    </div>
  </div>
</div>
<button class="btn buton mt-5">Incepe acum</button>
</div>
