<div class="container ">
  <h2 class="works_with_us_title mb-5 text-center">Companii care lucreaza cu noi</h2>
  <ul class="row w-100">
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4 ">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/1.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/2.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/3.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/4.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/5.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/6.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4 xs-dn">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/7.webp" alt="" class="wwu_img">
    </li>
    <li class="works_with_us_item col-lg-3 col-md-3 col-sm-6 col-4 xs-dn">
      <img #imageElement loading="eager" decoding="async" width="580px" height="384px" src="assets/images/worksWithUs/8.webp" alt="" class="wwu_img">
    </li>
    
  </ul>
</div>
