/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/* A collection of vars for the colours */
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~material-icons/iconfont/material-icons.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


:root {
  --white: #fff;
  --black: #000;
  --grey-rat: #797979;
}

@media screen and (max-width: 576px) {
  .chip{
    display: block!important;
    
}

.mdc-evolution-chip-set__chips{
   display: block!important;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    display: block!important;
}

}

a {
  text-decoration: none;
  color: #fff;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
